* {
   box-sizing: border-box;
}
body {
   font-family: sans-serif;
}
.flex-container-column {
   display: flex;
   /* properti pendukung */
   flex-direction: column;
   max-width: 800px;
   margin: 0 auto;
   text-align: right;
}
.flex-container-row {
   display: flex;
}
.button {
   flex-basis: 25%;
   /* properti pendukung */
   font-size: 1.5em;
   text-align: center;
   padding: 40px;
   border: 1px solid black;
   background: -webkit-linear-gradient(top, #d2d2d2, #ddd);
   cursor: pointer;
}
.double {
   flex-basis: 50%;
}
.display {
   color: white;
   width: 100%;
   padding: 10px 20px;
   background-color: #333333;
   border: 1px solid black;
   font-size: 2em;
}
.container{
   text-align: center;
   width: 70%;
}
.boom {
   background: orange;
}
.card {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   border-radius: 5px;
   padding: 30px;
   margin-top: 20px;
}
.button:hover {
   font-weight: bold;
}

.right{
   float: right;
   clear: both;
}


.buttonback {
   background-color: yellow; /* Green */
   border: none;
   padding: 15px 32px;
   text-decoration: none;
   display: inline-block;
   font-size: 30px;
   margin: 10px;
   cursor: pointer;
 }

 .buttonbcak:hover {background-color:whitesmoke}
@media screen and (max-width: 1000px) {
 .button,.buttonback {
       padding: 10px;
 }
 .container{
   text-align: center;
   width: 85%;
}
.display{
   padding: 5px 10px;
}

 

 
}