@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

* {
	box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    background-color: black ;
}

.jumbotron {
    font-size: 20px;
    padding: 40px;
    text-align: center;
    color: yellow;
    background-color: #020202;
}

nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;
    background-color:	#ffd700;
    font-size: 10px;
}

nav li {
    text-align: left;
    margin-right: 20px;
    display: inline;
}

nav a {
	text-decoration: none;
    color: black;
    font-size: 18px;	
}
h2{
    text-align: center;
 
}

main {
	padding: 20px;
	overflow: auto;
}

main #content {
    float: left;
    width: 75%;
}

main aside {
    float: right;
    width: 25%;
    margin-top:25px;
	padding-left: 20px;
}

main aside section img {
    padding: 10px;
}

main aside section img:hover {
    opacity: 0.7;
}

footer {
    padding: 10px;
    margin-top: 10px;
    background-color: yellow;
	text-align: center;
}

.rounded {
    border-radius: 50%;
}



.card {
    margin-top: 20px;
    padding: 30px;
    border-radius: 5px;
    background-color: yellow;
}
.card2 {
    height:auto;
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 40px;
    border-radius: 5px;
    background-color: yellow;
}

.gambar1 {
    width: 25%;
    float: right;
	max-height: 400px;

}

.gambar2 {
	width: 70%;
	max-height: 400px;

}
.profile header {
	text-align: center;
}

.container {
    display: flex;

}
.box {
    margin-left: 50px;
    text-align: center;
}

.center{
    text-align: center;
}
.button {
    background-color: yellow; /* Green */
    border: none;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 10px;
    cursor: pointer;
  }

.button:hover {background-color:whitesmoke}

@media screen and (max-width: 1000px) {
    main #content,
    main aside  {
        width: 100%;
        padding: 0;
    }
    .box {
        width: 100%;
        margin-left: 0px;
    }
    
 }